@reference "../../app/globals.css";

.siteNav {
  @apply bg-light px-2 py-4;
}

.siteNav nav {
  @apply mx-auto max-w-6xl flex justify-between items-center;
}

.siteNav h1 {
  @apply font-bold text-xl;
}

svg.logo {
  display: inline-block;
}

.logoutBtn {
  @apply bg-transparent text-white cursor-pointer;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 16px;
  width: 127px;
  height: 38px;
}